name: CI/CD pipeline for Auth

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]  
    
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3
    
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3.0.0
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3.0.0
    - name: Login to DockerHub
      uses: docker/login-action@v3.0.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and Push Docker Image
      uses: docker/build-push-action@v5.0.0
      with:
        context: .
        file: ./Dockerfile
        pull: true
        push: true
        tags: ${{ steps.generate_vars.outputs.image }}
